- hosts: all
  become: true
  roles:
   - role: commons

- hosts: servidores_web
  become: true
  roles:
   - role: apache2
   - role: iptables

- hosts: servidores_bd
  become: true
  roles:
   - role: mariadb
