- hosts: servidores_web
  become: true
  roles:
   - role: nginx
   - role: iptables

- hosts: servidores_bd
  become: true
  roles:
   - role: mariadb

- hosts: all
  become: true
  roles:
   - role: commons
